body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(rgba(10,25,47,0.85), rgba(10,25,47,0.85)),
    url("https://th.bing.com/th/id/OIP.gM8pAqwLZTQ1VykZtyzlnAHaEK");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.container {
  max-width: 1300px;
  margin: 60px auto;
  padding: 10px 30px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 700;
}

/* Top buttons */
.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
#editStatus {
    align-content: center;
  }

.permission-btn {
  background: #2563eb;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  color: #fff;
}

/* Input row */
.input-box {
  display: flex;
  gap: 12px;
  background: rgba(255,255,255,0.06);
  padding: 25px;
  border-radius: 16px;
  backdrop-filter: blur(6px);
}

.input-box input {
  flex: 1;
  padding: 14px;
  border-radius: 12px;
  background: rgba(255,255,255,0.12);
  border: none;
  color: #fff;
}

.add-btn {
  background: #3b82f6;
  padding: 14px 20px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.search-input {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  background: rgba(255,255,255,0.12);
  border-radius: 12px;
  border: none;
  color: #fff;
}

/* Tags */
.filter-bar {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.tag-filter {
  padding: 9px 16px;
  background: rgba(255,255,255,0.12);
  border-radius: 20px;
  cursor: pointer;
}

.tag-filter.active {
  background: #2563eb;
}

/* Grid */
.grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 22px;
}

.card {
  background: rgba(255,255,255,0.08);
  padding: 18px;
  border-radius: 16px;
  backdrop-filter: blur(6px);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.card-url {
  font-size: 14px;
  color: #cbd5e1;
  margin-bottom: 10px;
}

.card-buttons {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}

.open-btn,
.del-btn {
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
}

.open-btn {
  background: #2563eb;
}

.del-btn {
  background: #ef4444;
  cursor: pointer;
}
